*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins',sans-serif;
}
body{
  background-color: #e2d5bb;
}
/*home page*/
/*home page NavBar*/
.navbarr{
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 4;
}
.navbarr{
  font-family: Raleway;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(97, 96, 90);
  color: white;
  height: 45px;
}

.navbarr-linkss ul{
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 14px;
  margin-left: 750px;
  margin-top: 6px;
}
.navbarr-linkss li{
  list-style: none;
}
.navbarr-linkss li a{
  text-decoration: none;
  color: white;
  padding: 8px;
  display: block;
}
.navbarr-linkss li:hover{
  background-color: rgb(197, 139, 139);
}
.toggle-button{
  position: sticky;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
#menuToggle{
  display: none;
}
@media (max-width:1302px){
  .navbarr-linkss {
      display: none;
      width: 100%;
  }
  .navbarr-linkss ul {
      width: 100%;
      flex-direction: column;
  }
  .navbarr-linkss ul li {
      text-align: center;
  }
  .navbarr-linkss ul li a {
      padding: .5rem 1rem;
  }
  .navbarr-linkss.active {
      display: flex;
  }
  #menuToggle{
      display:unset;
  }
  #menuToggle{
      display: block;
      position: relative;
      top: 4px;
      left: 10px;
      z-index: 1;
      -webkit-user-select: none;
      user-select: none;
  }
  #menuToggle a{
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
  }
  #menuToggle a:hover{
    color: tomato;
  }
  #menuToggle input{
    display: block;
    width: 30px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0; 
    z-index: 2; 
    -webkit-touch-callout: none;
  }
  #menuToggle span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: white;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  #menuToggle input:checked ~ span{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: white;
  }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  #menuToggle input:checked ~ span:nth-last-child(2){
    transform: rotate(-45deg) translate(0, -1px);
  }
  #menu{
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 25px;
    padding-top: 125px;
    background: #333;
    list-style-type: none;
    -webkit-font-smoothing: antialiased; 
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
  #menu li {
    padding: 10px 20px;
    font-size: 22px;
  }
  #menuToggle input:checked ~ ul {
    transform: none;
  }
}
/*home page--------------------------------------------------------------------------------------------------*/
/*slide show*/
#slideshow{
  overflow: hidden;
}
#slideshow figure{
  position:relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slideshow infinite;
}
#slideshow figure img{
  float:left;
  width: 20%;
}
@keyframes slideshow{
  0%{
    left: 0;
  }
  20%{
    left: 0;
  }
  25%{
    left: -100;
  }
  45%{
    left: -100%;
  }
  50%{
    left: -200%;
  }
  70%{
    left: -200%;
  }
  75%{
    left: -300%;
  }
  95%{
    left: -300%;
  }
  100%{
    left: -400%;
  }
}
/*welcome on the, slide show*/
.text-box{
  color: #fff;
  text-align: center;
  transform: translate(-0%, -2%);
  margin-top: -80vh;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
h1{
  font-size: 56px;
  font-weight: 600;
  text-decoration: underline;
  -webkit-text-decoration-color: red; 
  text-decoration-color: red;
}
.hero-btn{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  position: relative;
  cursor: pointer;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent
}
.hero-btn:hover{
  border: 1px solid #f44336;
  background: #0382d6;
  transition: 1s;
}
@media screen and  (max-width:1301px){
  .text-box  {
    font-size: 10px;
    padding-bottom: 25px;
  }
}
@media screen and (max-width:360px){
  .hero-btn{
    color: rgb(255, 255, 255);
    border: 1px solid #f44336;
   background: #da1414;
   transition: 1s;
  }
  .text-box{
    margin-top:100px;
  }
}
@media screen and (max-width:1309px){
  .text-box{
    margin-top: -25vh;
  }
}
/*about us*/
.aboutus1{
  padding: 30px;
  padding-top: 450px;
  color: #000;
  font-family: 'Times New Roman', Times, serif;
  padding-left: 450px;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.aboutus1 .heading2{
  padding-left: 100px;
  font-size: 5vw;
  text-align:-webkit-auto;
  text-decoration: underline;
  -webkit-text-decoration-color: red;
  text-decoration-color: red;
  font-family: Garamond;
}
.aboutus1 .para{
 text-align:-webkit-center;
  font-size: 1vw;
  margin-right: 450px;
  
}

@media screen and (max-width:1302px){
  .aboutus1{
    padding: 30px;
    color: #000;
    font-family: 'Times New Roman', Times, serif;
  }
  .aboutus1 .heading2{
    text-align: -webkit-auto;
    font-size: 7vw;
  }
  .aboutus1 .para{
    text-align: -webkit-auto;
    font-size: 4vw;
    margin: 10px;
  }
}
@media screen and (max-width:768px){
  .aboutus1{
    padding-top: 150px;
  }
  .aboutus1 .para{
    text-align:center ;
    font-size: 2vw;
    margin: 10px;
  }
  .aboutus1 .heading2{
    text-align:-webkit-auto ;
    margin-left: 150px;
  }
  
}
@media screen and (max-width:360px){
  .aboutus1{
    padding-top: 60px;
  }
  .aboutus1 .heading2{
    padding-right: 40px;
    margin-left: 3px;
  }
}
/*flex boxes*/
video {
  width: 100%;
  height: auto;
}

.containershome{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 75px;
  
}
.containershome .boxshome{
  position: relative;
  width: 350px;
  padding: 40px ;
  background: rgb(252, 249, 249);
  box-shadow: 0 5px 15px rgba(0,0,0,.1);
  border-radius: 4px;
  margin: 20px;
  box-sizing: border-box;
  overflow: hidden;
  background:#e0dbd1;
  border-radius:1.5em;
}
.containershome .boxshome .iconshome {
  position: relative;
  width: 600px;
  height: 80px;
  color: rgb(8, 0, 0);
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 50%;
  font-size: 20px;
  font-family: Papyrus;
  font-weight: 700;
  transition: 1s;
  padding-right: 320px;
  text-decoration: underline;
  -webkit-text-decoration-color: red;   
  text-decoration-color: red;
}
.containershome .boxshome .contentshome img{
  height: auto;
  width: 100%;
}
.containershome .boxshome .contentshome p{
  font-family: Garamond;
}
.containershome .boxshome .contentshome ul li{
  font-family: Garamond;
}
.containershome .boxshome .contentshome ol li{
  font-family: Garamond;
}
@media screen and (max-width: 500px){
.aboutus1{
  padding: 30px;
  
  color: #000;
  font-family: 'Times New Roman', Times, serif;
 
}
}
@media screen and (max-width: 768px){
  .containershome .boxshome{
    margin-left: 200px;
  }
}
@media screen and (max-width: 360px){
  .containershome .boxshome{
    margin-left: 0;
  }
}
@media screen and (max-width: 375px){
  .containershome .boxshome{
    margin-left: 0;
  }
}
/*types of animals and plants-------------------------------------------------------------------------------------*/
/*body area*/
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 75px;
  
}
.container .box{
  position: relative;
  width: 350px;
  padding: 40px ;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0,0,0,.1);
  border-radius: 4px;
  margin: 20px;
  box-sizing: border-box;
  overflow: hidden;
  background:#FFEFD5;
  transform: scale(1);
transition: 0.3s ease-in-out;
}
.container .box:hover{
transform:scale(1.1)
}
.container .box:hover{
  box-shadow:  0 0 50px 0px rgba(228, 168, 4, 0.993);
}
.container .box .icon {
  position: relative;
  width: 600px;
  height: 80px;
  color: rgb(8, 0, 0);
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 700;
  font-family: Papyrus;
  transition: 1s;
  padding-right: 300px;
  text-decoration: underline;
  -webkit-text-decoration-color: red;  
  text-decoration-color: red;
}
@media screen and (max-width: 768px){
  .container .box{
    margin-left: 230px;
  }
}
@media screen and (max-width: 360px){
  .container .box{
    margin-left: 30px;
  }
}
@media screen and (max-width: 375px){
  .container .box{
    margin-left: 6px;
  }
}
h4{
  font-size: 56px;
  font-weight: 600;
  border: 10px ;
  padding: 15px;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
  font-family: Papyrus;
  text-align: center;
  text-decoration: underline;
  -webkit-text-decoration-color: red;
  text-decoration-color: red;
}
/*table*/
table{
  font-family: sans-serif;
  border-collapse: collapse;
}
th{
  background-color: #333;
  color: #fff;
}
th, td{
  padding: .8rem;
  font-size: 1.4rem;
  font-family: Papyrus;
}
tbody{
  background-color: #eee;
  color: #555;
}
tfoot{
  background-color: rgb(177, 18, 18);
  color: rgb(255, 255, 255);

}
tfoot tr td{
  padding-left: 150px;
}
@media screen and (max-width: 1024px){
  thead{
    display: none;
  }
  td{
    display: block;
  }
  td:first-child{
    background-color: #333;
    color: #fff;
    text-align: center;
  }
  td:nth-child(2)::before{
    content: "Name";
  }
  td:nth-child(3)::before{
    content: "Description";
  }
  td:nth-child(4)::before{
    content: "Type";
  }
  /*footer*/
  tfoot tr td:first-child{
    background-color: #333;
    color: #fff;
  }
  tfoot tr td:nth-child(2)::before{
    content: "";
  }
  tfoot tr td:nth-child(3)::before{
    content: "";
  }
  tfoot tr td:nth-child(4)::before{
    content: "";
  }
  tfoot tr td{
    text-align: center;
    padding-left: 25px;
  }
  td{
    text-align: right;
  }
  td::before{
    float: left;
    margin-right: 3rem;
    font-weight: bold;
    color: blue;
  }
}
/*activities page----------------------------------------------------------------------------------------------*/
.containerss{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 75px;
  
}
.containerss .boxss{
  position: relative;
  width: 350px;
  padding: 40px ;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0,0,0,.1);
  border-radius: 4px;
  margin: 20px;
  box-sizing: border-box;
  overflow: hidden;
  background:#FFEFD5;
}
.containerss .boxss .iconss {
  position: relative;
  width: 600px;
  height: 80px;
  color: rgb(8, 0, 0);
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 700;
  font-family: Papyrus;
  transition: 1s;
  padding-right: 320px;
  text-decoration: underline;
  -webkit-text-decoration-color: red;   
  text-decoration-color: red;
}
@media screen and (max-width: 1000px){
  .containerss .boxss {
    margin-left: 200px;
  }
}
@media screen and (max-width: 566px){
  .containerss .boxss {
    margin-left: 20px;
  }
}

/*contact us page------------------------------------------------------------------------------------------------*/
/*container first*/
.containerfirst{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
}
@media screen and (max-width:360px){
  .containerfirst{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0 0 0 0 ;
  }
}
.containerfirst .box1{
  position: relative;
  width: 850px;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0,0,0,.1);
  border-radius: 4px;
  margin: 20px;
  box-sizing: border-box;
  overflow: hidden;
  background:#FFEFD5;
  margin-top: 350px;
  margin-left: 250px;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
.containerfirst .box1:hover{
  transform:scale(1.2)
  }
  .containerfirst .box1:hover{
    box-shadow:  0 0 50px 0px rgba(49, 228, 4, 0.993);
  }
.containerfirst .box1 .icons {
  position: relative;
  width: 600px;
  height: 80px;
  color: rgb(8, 0, 0);
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 700;
  transition: 1s;
  text-decoration: underline;
  -webkit-text-decoration-color: red; 
  text-decoration-color: red;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45a049;
}
/* Style the container/contact section */
.container1 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  }
/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
@media screen and (max-width: 768px){
  .containerfirst {
    padding-right: 200px;
  }
  .containerfirst .box1{
  margin-top: 0;
  margin-left: 0;
  }
  .containerfirst .box1 .icons {
    padding-right: 300px;
  }
}
@media screen and (max-width: 1000px){
  .containerfirst .boxs1 {
    margin-left: 200px;
  }
}
@media screen and (max-width: 566px){
  .containerfirst .box1 {
    margin-left: 20px;
  }
}
/*footer----------------------------------------------------------------------------------------------------------*/
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(218, 214, 214);
  color: white;
  text-align: center;
}
footer{
  position: relative;
  width: 100%;
  height: auto;
  pad: 50px;
  background: #111;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .container{
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap ;
  flex-direction: row;
}
footer .container .sec{
  margin-right: 30px;
}
footer .container .sec.aboutus{
  width: 40%;
}
footer .container h2{
  position: '';
  color: rgb(216, 202, 202);
  font-weight: 500;
  margin-bottom: 15px;
}
footer p{
  color: #999;
}
.quicklinks{
  position: relative;
  width: 25%;
}
.quicklinks ul li a{
  color:#999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}
.quicklinks  ul li a:hover{
  color:#fff;
}
.contact{
  width: calc(35% - 60px);
  margin-right: 0 !important;
}
.contact .info{
  position:relative;
}
.contact .info li{
  display: flex;
  margin-bottom: 16px;
}
.contact .info li span{
  color: #999;
}
.contact .info li a{
  color:#999;
  text-decoration: none;
}
.contct .info li a:hover{
  color: rgb(255, 249, 249);
}
.copyrightText{
  width: 100%;
  background: #181818;
  padding: 8px 100px;
  text-align: center;
  color: rgb(240, 238, 238);
}
@media screen and (max-width: 1320px){
  footer{
    padding: 40px;
  }
  footer .container{
    flex-direction: column;
  }
  footer .container{
    padding: 25px;
  }
}


